extends layout

block content
  h1= title
  ul
    li Products Count: #{productsCount}
    li Manufacturers Count: #{manufacturersCount}
    li Categories Count: #{categoriesCount}
    li Available Sizes Count: #{sizesCount}
