extends layout 

block content 
  h2 Product: #{title} 
  p Manufacturer: #{product.manufacturer.name} 
  p Description: #{product.description} 

  if product.inStock 
    p In Stock 
  else 
    p Out of Stock 
  
  p Categories:
  ul 
    each category in product.categories 
      li= category.name 
  
  p Available Sizes:
  ul 
    each sizes in product.availableSizes 
      li #{sizes.size.type} (#{sizes.quantity} Qty.)

  hr

  p
    a(href= product.url + "/update") Update Product
