extends layout 

block content 
  h2 Product: #{title} 
  p 
    strong Manufacturer:
    |  #{product.manufacturer.name} 
  p 
    strong Description:
    |  #{product.description} 

  p 
    strong In Stock:
    |  #{product.inStock ? "Yes" : "No"}
  
  p 
    strong Categories:
  ul 
    each category in product.categories 
      li= category.name 
  
  p 
    strong Available Sizes:
  ul 
    each sizes in product.availableSizes 
      li #{sizes.size.type} (#{sizes.quantity} Qty.)

  hr

  p
    a(href= product.url + "/delete") Delete Product
  p
    a(href= product.url + "/update") Update Product
